* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** COMMON ****/
html {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

/* text  */
p {
    line-height: 2rem;
}

/* root  */
:root {
    /* color  */
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --violet-color: #9792e4;
    --yellow-color: #fdc15f;
    --black-light-color: #333333;
    --white: #ffffff;
    --black : #000000;
    
    /* measure*/
    --rem-1half: 2rem;
    --rem-3: 3rem; 
}

/* layout */
img {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.card-big {
    border-radius: 60px;
    padding: var(--rem-1half);
}

.card {
    border-radius: 20px;
    padding: var(--rem-1half);
    margin-bottom: var(--rem-1half);
}

/**** HEADER ****/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--white);
}

header .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu {
    display: none;
}

/**** MAIN  ****/
main {
    margin-top: 80px;
}

section {
    padding: var(--rem-3) 0;
}
 /* about section  */
#about .card {
    background-color: var(--primary-color-light);
}

.about-txt,
.about-img {
    padding: var(--rem-1half);

    /* DEBUG */
    border: 1px solid black;
}

 /* planning sction  */
#planning {
    background-color: var(--violet-color);
    color: var(--white);
}


#planning .card-big {
    text-align: center;
    background-color: var(--white);
    color: var(--black);
}

#planning .card-big i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: var(--violet-color);
}

/* testimonials section  */
#testimonials {
    text-align: center;
}

#testimonials .card-big {
    background-color: var(--violet-color);
    color: var(--white);
    margin-bottom: var(--rem-1half);
}

.testimonials-img img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* benefits section  */

#benefits {
    background-color: var(--violet-color);
    color: var(--white);
}

#benefits .card {
    background-color: var(--white);
    color: var(--black);
}

/* about us section  */
#about-us img {
    border-radius: 50%;
    width: 200px;
}

#about-us p {
    margin-bottom: var(--rem-1half);
}

/* get started section  */
#get-started {
    background-color: var(--violet-color);
    color: var(--white);
    text-align: center;
}

/**** FOOTER  ****/
footer {
    background-color: var(--black-light-color);
    padding: var(--rem-3);
    color: var(--white);
    text-align: center;
}

/* MEDIA QUERY  */
/************* tablet  *************/
@media screen and (min-width: 768px) {

    /**** MAIN  ****/
    /* about section  */
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: var(--rem-1half);
    }
    
    #about .card {
        width: calc(100% / 3 - var(--rem-1half) * 2 / 3);
        margin-bottom: 0;
    }

    #about .card:first-child {
        width: calc(100% / 1.5 - var(--rem-1half) / 3);
    }

    /* testimonials section  */
    #testimonials .card-big {
        display: flex;
    }

    /* benefits section  */
    #benefits .row {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--rem-1half);
    }

    #benefits .card {
       width: calc(100% / 2 - var(--rem-1half));
    }

    /* about us section  */
    #about-us .row {
        display: flex;
        column-gap: var(--rem-1half);
    }

    /* get started section  */
    #get-started .container {
        width: 60%;
    }

    .txt-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    /**** FOOTER  ****/
    footer .container {
        width: 60%;
    }
    footer .txt-wrapper {
        width: 60%;
    }
}

/************* desktop *************/
@media screen and (min-width: 992px) {
    /**** COMMON ****/
    .container {
        width: 60%;
        max-width: 1100px;
    }

    /**** HEADER ****/
    .hamburger-menu {
        display: none;
    }

    .main-menu {
        display: block;
    }

    .main-menu ul {
        display: flex;
        list-style-type: none;
    }

    .main-menu li {
        margin-left: 2em;
    }

    /**** MAIN  ****/
    /* about section  */
    #about .card:first-child {
        display: flex;
    }
    
    /* planning section  */
    #planning .row {
        display: flex;
        column-gap: var(--rem-3);
        align-items: flex-end;
    }

    .col-left img {
        margin: 120px 0;
    }

    .col-left h2 {
        margin-bottom: 100px;
    }

    #planning .container {
        width: 50%;
    }

    /* benefits section  */
    #benefits .row {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--rem-1half);
    }

    #benefits .card {
        width: calc(100% / 3 - var(--rem-1half));
    }

     /* get started section  */
     #get-started .container {
        width: 60%;
    }

    #get-started .txt-wrapper {
        width: 80%;
    }

     /**** FOOTER  ****/
     footer .container{
        width: 60%;
    }

    footer .txt-wrapper {
        width: 60%;
    }
}   
